
.pageWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f7f9;
}

.pageBody{
  flex: 1;
}

.paperWrapper{
  border: solid 1px #d0d5de;
  background-color: #ffffff;
  padding: 20px;
}